<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
Title      : Emporium
Version    : 1.0
Released   : 20090222
Description: A two-column, fixed-width and lightweight template ideal for 1024x768 resolutions. Suitable for blogs and sm
all websites.

-->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Edgar Latorre</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{ MEDIA_URL }}css/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
<!-- start header -->
<div id="logo">
        <h1><a href="#">Exemplo de blog </a></h1>
        <h2> &raquo;&nbsp;&nbsp;&nbsp;django</h2>
</div>
<div id="header">
        <div id="menu">
                <ul>
                        <li class="current_page_item"><a href="/">Home</a></li>
                        <li><a href="/links">Links</a></li>
                        <li><a href="#">Photos</a></li>
                        <li><a href="#">About</a></li>
                        <li class="last"><a href="/contato">Contato</a></li>
                </ul>
        </div>
</div>
<!-- end header -->
</div>
<div id="page">
