<!-- start sidebar -->
<div id="sidebar">
	<ul>
		<li id="search">
			<h2>Search</h2>
			<form method="get" action="">
				<fieldset>
				<input type="text" id="s" name="s" value="" />
				<input type="submit" id="x" value="Search" />
				</fieldset>
			</form>
		</li>
		<li>
			<h2>Categorias</h2>
			<ul>
				<li><a href="#">Fusce dui neque fringilla</a></li>
				<li><a href="#">Eget tempor eget nonummy</a></li>
				<li><a href="#">Magna lacus bibendum mauris</a></li>
				<li><a href="#">Nec metus sed donec</a></li>
				<li><a href="#">Magna lacus bibendum mauris</a></li>
				<li><a href="#">Velit semper nisi molestie</a></li>
				<li><a href="#">Eget tempor eget nonummy</a></li>
			</ul>
		</li>
		<li>
			<h2>Links</h2>
			<ul>
				<li><a href="#">Nec metus sed donec</a></li>
				<li><a href="#">Magna lacus bibendum mauris</a></li>
				<li><a href="#">Velit semper nisi molestie</a></li>
				<li><a href="#">Eget tempor eget nonummy</a></li>
				<li><a href="#">Nec metus sed donec</a></li>
				<li><a href="#">Magna lacus bibendum mauris</a></li>
				<li><a href="#">Velit semper nisi molestie</a></li>
			</ul>
		</li>
	</ul>
</div>
<!-- end sidebar -->